

.App {
  background-image: url('https://www.alamy.com/slack-social-media-social-network-concept-background-illustration-istanbul-turkey-image419072677.html');
  background-color: #bfbfbf;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 50px;
  font-size: calc(10px + 2vmin);
  color: white;
}

input {
  margin-left: 20px;
  font-size: calc(10px + 0.5vmin);
  padding: 10px 5px;
  border: 0;
}

.primary-btn {
  padding: 10px 20px;
  color: #fff;
  background-color: rgb(90, 20, 161);
  text-decoration: none;
  font-size: calc(10px + 0.5vmin);
  border: 0;
}
